
# Segmenting and Clustering Neighborhoods in Toronto

## Applied Data Science Capstone - Coursera

### Part 2 : get the longitudde and latitude to each Borough

In [10]:
# First we import all the required libraries for the coding
import numpy as np
import pandas as pd
import requests
!pip install geocoder # geocoder import statement make the mistake to run so we install it with other method
import geocoder
print('All the libraries are imported!')

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 17.4MB/s ta 0:00:01
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.22.0)
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2019.6.16)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
All the libraries are imported!

### Now, Add Lat/Lon coordinates based on the postal code to the dataframe created on part 1 saved file Toronto_Postcodes.csv

In [25]:
# Read postcard in to the pandas dataform
df_neighbour = pd.read_csv('Toronto_Postcodes.csv',index_col=[0])
df_neighbour.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [65]:
# create the function to create the location to each Postcodes.
# The referece code logic is given in question so according to that the function code is as follow:
# initialize your variable to None
def get_coordinates_toronto(post_code, max_iterations, debug):
    
    lat_lng_coords = None
    success=False
    for i in range(max_iterations):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
        if debug:
            print('Attempt #: {}, Coordinates: {}'.format(i+1, lat_lng_coords))
        if lat_lng_coords is not None:
            success=True
            break
    if success:
        latitude = lat_lng_coords[0]
        longitude = lat_lng_coords[1]
        return latitude, longitude
    else:
        return 'Failed to get coordinates'

In [66]:
# Lets check for the one of the example with try for the 5 iteration:
Toronto_Coordinates('M1C',5,True)

Attempt #: 1, Coordinates: None
Attempt #: 2, Coordinates: None
Attempt #: 3, Coordinates: None
Attempt #: 4, Coordinates: None
Attempt #: 5, Coordinates: None

'Fail to get Coordinates, So Sorry!'

In [68]:
# Lets check it for the 200 iterations but not check it for every debug:
Toronto_Coordinates('M1C',200, False)

'Fail to get Coordinates, So Sorry!'

### It shows that the upper google coordinate system does not respond very well. So another way is to get teh data from its location coordinates csv file given as second optionl

In [70]:
url = 'http://cocl.us/Geospatial_data'
df_coordinates= pd.read_csv(url)
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [86]:
# But both dataset must have the same labels for getting matched values and retrive data as per requirement, 
# So , lets change the label name as per our standard requirement
df_coordinates.rename(columns= {'Postal Code': 'PostalCode'}, inplace = True)
df_neighbour.rename(columns= {'Postcode': 'PostalCode'}, inplace =True)

df_coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [89]:
df_neighbour.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

## Now, lets merge both the dataset so we can get all the datasets

In [93]:
df_neighbour_coordinates= pd.merge(df_neighbour,df_coordinates,on = 'PostalCode')
df_neighbour_coordinates.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [ ]:
# Now save it for the future requireements
df_neighbour_coordinates.to_csv('Toronto_Postcode_2.csv')